## Merges PUMS shapefiles into one for entire country

In [35]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline
from shapely.geometry import Point

In [36]:
fips = [u'23', u'15', u'04', u'05', u'10', u'13', u'27', u'02', u'06',
       u'11', u'12', u'16', u'17', u'19', u'21', u'22', u'24', u'26',
       u'29', u'30', u'36', u'41', u'47', u'48', u'51', u'55', u'46',
       u'49', u'18', u'25', u'28', u'31', u'35', u'37', u'44', u'39',
       u'40', u'45', u'08', u'20', u'09', u'32', u'53', u'54', u'56',
       u'01', u'72', u'33', u'34', u'38', u'42', u'50']

In [38]:

df = gpd.GeoDataFrame.from_file(
    './pums/{0}/cb_2016_{0}_puma10_500k.shp'.format(fips[0]), driver='ESRI Shapefile')

for fip in fips[1:]:
    temp = gpd.GeoDataFrame.from_file(
    './pums/{0}/cb_2016_{0}_puma10_500k.shp'.format(fip), driver='ESRI Shapefile')
    df = pd.concat([df, temp])

In [39]:
df.to_file("country_pums.shp")

In [40]:
# add centroids to shape file
df['centroids'] = df.centroid
#extract lat and lon
df['lon'] = df['centroids'].apply(lambda p: p.x)
df['lat'] = df['centroids'].apply(lambda p: p.y)

In [41]:
df.head()

,STATEFP10,PUMACE10,AFFGEOID10,GEOID10,NAME10,LSAD10,ALAND10,AWATER10,geometry,centroids,lon,lat
0,23,00700,7950000US2300700,2300700,Sagadahoc & Cumberland (North) Counties--Bath ...,P0,1481180566,586264808,"(POLYGON ((-69.76030899999999 43.710438, -69.7...",POINT (-70.05952491166848 43.92356688754782),-70.059525,43.923567
1,23,00100,7950000US2300100,2300100,Northeast Maine--Aroostook & Washington Counties,P0,23915364891,2205256863,"(POLYGON ((-67.32259499999999 44.611595, -67.3...",POINT (-68.31967332861332 46.19025694926104),-68.319673,46.190257
2,23,00900,7950000US2300900,2300900,Cumberland (Outside Portland) & York (East) Co...,P0,754438511,131632564,"(POLYGON ((-70.081609 43.712621, -70.078757 43...",POINT (-70.38377319809314 43.65608041845778),-70.383773,43.656080
3,23,00800,7950000US2300800,2300800,South Maine--York (West) & Cumberland (West) C...,P0,3017546402,843948035,(POLYGON ((-70.61833227720101 42.9866095660672...,POINT (-70.71529181904553 43.58568643516829),-70.715292,43.585686
4,23,00200,7950000US2300200,2300200,"Northwest Maine--Oxford, Somerset, Franklin & ...",P0,30197034262,1895687134,"POLYGON ((-71.08000299999999 45.306987, -71.07...",POINT (-69.9243911761004 45.37836901160687),-69.924391,45.378369

In [44]:
df[['STATEFP10', 'PUMACE10', 'GEOID10', 'lon', 'lat']].to_csv('puma_centroids.csv', index=False)

In [ ]:
# delete below

In [19]:
df['centroids'] = df.centroid

In [20]:
df['lon'] = df['centroids'].apply(lambda p: p.x)
df['lat'] = df['centroids'].apply(lambda p: p.y)

In [21]:
df.dtypes

STATEFP10      object
PUMACE10       object
AFFGEOID10     object
GEOID10        object
NAME10         object
LSAD10         object
ALAND10         int64
AWATER10        int64
geometry       object
centroids      object
lon           float64
lat           float64
dtype: object

In [22]:
df.head()

,STATEFP10,PUMACE10,AFFGEOID10,GEOID10,NAME10,LSAD10,ALAND10,AWATER10,geometry,centroids,lon,lat
0,23,00700,7950000US2300700,2300700,Sagadahoc & Cumberland (North) Counties--Bath ...,P0,1481180566,586264808,"(POLYGON ((-69.76030899999999 43.710438, -69.7...",POINT (-70.05952491166848 43.92356688754782),-70.059525,43.923567
1,23,00100,7950000US2300100,2300100,Northeast Maine--Aroostook & Washington Counties,P0,23915364891,2205256863,"(POLYGON ((-67.32259499999999 44.611595, -67.3...",POINT (-68.31967332861332 46.19025694926104),-68.319673,46.190257
2,23,00900,7950000US2300900,2300900,Cumberland (Outside Portland) & York (East) Co...,P0,754438511,131632564,"(POLYGON ((-70.081609 43.712621, -70.078757 43...",POINT (-70.38377319809314 43.65608041845778),-70.383773,43.656080
3,23,00800,7950000US2300800,2300800,South Maine--York (West) & Cumberland (West) C...,P0,3017546402,843948035,(POLYGON ((-70.61833227720101 42.9866095660672...,POINT (-70.71529181904553 43.58568643516829),-70.715292,43.585686
4,23,00200,7950000US2300200,2300200,"Northwest Maine--Oxford, Somerset, Franklin & ...",P0,30197034262,1895687134,"POLYGON ((-71.08000299999999 45.306987, -71.07...",POINT (-69.9243911761004 45.37836901160687),-69.924391,45.378369

In [34]:
df[df['GEOID10']=="0102500"]

,STATEFP10,PUMACE10,AFFGEOID10,GEOID10,NAME10,LSAD10,ALAND10,AWATER10,geometry,centroids,lon,lat
18,01,02500,7950000US0102500,0102500,"Houston, Dale, Geneva & Henry Counties--Dothan...",P0,5897794512,37459906,"POLYGON ((-86.19347599999999 31.192213, -86.12...",POINT (-85.49844663904503 31.29697625990032),-85.498447,31.296976

In [23]:
import os, sys

sys.path.append(os.path.abspath('./pygwr/')) #import the pygwr module
import pygwr

In [24]:
y = df['ALAND10'].values #target
x = df['AWATER10'].values #education
g = df[['lat', 'lon']].values #location
ids = df['GEOID10'].values


model = pygwr.GWR(targets=y, samples=x, locations=g)

In [25]:
gwr_result = model.estimate_at_target_locations(bandwidth=1)

pygwr/gwr.py:169: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  if self.sample == None:

In [26]:
gwr_result = model.estimate_at_target_locations(bandwidth=1)

In [27]:
gwr_result.export_csv('us_gwr_result.csv')